.main-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;

    .main-page__container {
        width: 100%;
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .main-page__image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .main-page__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        h2 {
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
        }

        p {
            font-size: 1.25rem;
            text-align: center;
        }
    }

    .main-page__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            cursor: pointer;
            width: fit-content;
            padding: 12px 40px;
            font-size: 1rem;
            transition: all 0.3s ease;
            border-radius: 6px;
            border: 1px solid var(--grey-2);
            background-color: var(--grey-e0);

            &:hover {
                transform: scale(1.02);
                background-color: var(--grey-e);
            }
        }
    }

    .main-page__props {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media (min-width: 600px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .main-page__props-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        max-width: 260px;
        text-align: center;

        svg {
            width: 50px;
            height: 50px;
            fill: var(--grey-2);
        }

        h3 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    @media (max-width: 1024px) {
        .main-page__body h2 {
            font-size: 2rem;
        }

        .main-page__body p {
            font-size: 1.1rem;
        }

        .main-page__props {
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }

        .main-page__props-block {
            max-width: 150px;
        }
    }

    @media (max-width: 600px) {
        .main-page__container {
            padding: 0 10px;
            gap: 10px;
        }

        .main-page__body {
            gap: 20px;
        }

        .main-page__btn button {
            padding: 10px 30px;
        }

        .main-page__props-block {
            h3 {
                font-size: 1rem;
            }

            p {
                font-size: 0.9rem;
            }

            svg {
                width: 35px;
                height: 35px;
            }
        }
    }
}
